name: Build React

on:
  push:
    paths-ignore:
      - '.github/workflows/**'
  pull_request:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Commit SHA to run workflow on'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.commit_sha || github.sha }}


      - name: Install npm packages
        run: echo "Running in development user is "; npm install 


      - name: Build React application
        run: npm run build

      - name: Archive build outputs
        uses: actions/upload-artifact@v4
        with:
          name: react-build      
          path: build/           
          retention-days: 30 
